<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>demo</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
</head>
<body>
    <div id="viewer">
        <div class="layer bg"></div>
        <div class="layer char"></div>
        <div class="layer dialogWrapper">
            <div class="layer dialog">
                <div class="text">
                </div>
            </div>
        </div>
    </div>
    <div style="overflow:hidden">
        <h3>Edit Slide</h3>
        <form action="" method="post">
        {{ form.render() }}
        </form>
    </div>
    <div id="palette">
        <div id="bg">
            <div class="title">Backgrounds</div>
            <ul>
            {% for img in bgThumbs %}
                <li>
                    <a class="thumb" href="{{ img }}" style="background-image:url(/static/img/_{{ img }})">{{ img }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id="char">
            <div class="title">Characters</div>
            <ul>
            {% for img in charThumbs %}
                <li>
                    <a class="thumb" href="{{ img }}" style="background-image:url(/static/img/_{{ img[:-4] }}.jpg)">{{ img[:-4] }}.jpg</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div id="bin" style="clear:left">
    <hr />
    {% if slides is defined %}
        {% for s in slides %}
        <a class="slide" href="#" id="{{ loop.index }}">
            <div class="title">{{ loop.index }}</div>
            <ul>
                <li class="thumb bgImg" style="background-image:url(/static/img/_{{ s.bgImg }})">{{ s.bgImg }}</li>
                <li class="thumb charImg" style="background-image:url(/static/img/_{{ s.charImg[:-4] }}.jpg)">{{ s.charImg }}</li>
                <li class="dialogImg">{{ s.dialogImg }}</li>
                <li class="direction">{{ s.direction }}</li>
                <li class="dialog">{{ s.dialog }}</li>
            </ul>
        </a>
        {% endfor %}
    {% endif %}
    </div>
</body>